<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<key>cdhashes</key>
	<array>
		<data>
		pH9p7Hw2XwQRa9K8Ae3f2nYcGg0=
		</data>
		<data>
		hODKUL+TVgarFRjtgOxFLoFdFT0=
		</data>
	</array>
</plist>
